body {
  background: url(img/bg.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*.walk{
width:180px;
height:300px;
background:url(img/player2/luffywalk.png);
@-webkit-animation: walkback .8s steps(8) infinite;
}*/
.hpbg1{
  background:url(img/player1/hpbarbackgroundp1.png);
  width:400px;
  height:150px;
  top:0;
  left:0;
  position:absolute;
  z-index: 1;
}
.hpbg2{
  background:url(img/player2/hpbarbackgroundp2.png);
  width:400px;
  height:150px;
  top:0;
  left:1050px;
  position:absolute;
  z-index: 1;
}
.p1{
  left: 200px;
  top:40px;
  position:absolute;
  font-size:20px;
  font-family: 'Press Start 2P', cursive;
  color:white;
  text-shadow: 2;
  font-size:20px;
  z-index: 4;
}
.p2{
  left: 930px;
  top:40px;
  position:absolute;
  font-size:20px;
  font-family: 'Press Start 2P', cursive;
  color:black;
  font-size:20px;
  z-index: 4;
}
.portraitp1{
  background:url(img/player1/sanjiart4.png);
  width:150px;
  height:100px;
  background-size: 100%;
  position:absolute;
  top:-15px;
  left:20px;
  z-index: 2;

}
.portraitp2{
   background:url(img/player2/luffyart4.png);
  width:150px;
  height:100px;
  background-size: 100%;
  top:-18px;
  left:1260px;
  position:absolute;
  z-index: 2;
}

.fight{
  width:960px;
  height:477px;
  background: url(img/fight.png);
  top:70px;
  left:250px;
  position:absolute;
  z-index: 5;
}

.hpbar1{
  width:0px;
  height:55px;
  background-color:red;
  position:absolute;
  padding-left:460px;
  border:solid 2px white;
  top:70px;
  border-radius:5px;
  z-index: 1;
}
.timer{
  color: black;
  font-family: 'Press Start 2P', cursive;
  font-size:40px;
  position:absolute;
  top:10%;
  left:47%;
}
.hpbar2{
  width:0px;
  height:55px;
  background-color:red;
  position:absolute;
  padding-left:460px;
  border: solid 2px white;
  top:70px;
  border-radius:5px;
  z-index:2;
}
.hpbarback1{
  width:0px;
  height:55px;
  background-color:yellow;
  position:absolute;
  padding-left:460px;
  top:72px;
  border-radius:5px;
  z-index: 3;
}
.hpbarback2{
  width:0px;
  height:55px;
  background-color:yellow;
  position:absolute;
  padding-left:460px;
  top:72px;
  border-radius:5px;
  z-index: 3;
}

#player2 {
  width:224px;
  height:240px;
  background:url(img/player2/luffystand.png);
  /*background-size:cover;*/
  display:inline-block;
  position:absolute;
  bottom:10px;
  animation:stand .6s steps(4) infinite;

}

#player1 {
  width:112px;
  height:300px;
  bottom:10px;
  position: absolute;
  background:url(img/player1/sanjistand.png);
  animation: pOnestand .6s steps(4) infinite;
}
  @keyframes stand {
    0% 100%{
        width:224px;
        height:240px;
        background:url(img/player2/luffystand.png);
    }
    from {background-position:0px;}
    to{background-position:-904px;}
  }
  @keyframes walkback {
    0% 100%{width:204px, height:300px; background:url(img/player2/luffywalk.png);}
    from{background-position: 0px;}
    to{background-position:-1632px;}

  }
  @keyframes dash {
    0% {width:298px;height:260px;background:url(img/player2/luffyrun.png); }
    from{background-position:0px;}
    to{background-position:-1788px;}

  }
  @keyframes crouch {
    0% 100%{}
    from{background-position:0px;}
    to{background-position: -564px;}
  }
  @keyframes pOnestand{
    0% 100%{background:url(img/player1/sanjistand.png);}
    from{background-position:-448px;}
    to{background-position:0px;}
  }
  @keyframes pOnewalk{
    0% 100%{background:url(img/player1/newsanjiwalk.png);}
    from{background-position: -1296px}
    to{background-position: 0px}
  }
  @keyframes pOnecrouch{
    0% 100%{background:url(img/player1/sanjicrouch.png);}
    from{background-position: -372px}
    to{background-position: 0px}
  }
  @keyframes p1attack{
    0% 100%{background:url(img/player1/sanjikick.png);}
    from{background-position:-2142px;}
    to{background-position:0px;}
  }
  @keyframes p2attack{
    0% 100%{background:url(img/player2/luffypunch.png);}
    from {background-position:0px}
    to{background-position:-1250px}
  }
  @keyframes p2hit{
    0% 100%{background:url(img/player2/luffyhit.png);}
    10%{transform: translateX(+35px);}
    from{background-position:0px;}
    to{background-position:630px;}

  }
  @keyframes p1hit{
    0% 100%{background:url(img/player1/sanjihit.png);}
    10%{transform: translateX(-45px);}
    from{background-position: -792px}
    to{background-position: 0px}
  }
  @keyframes p2attack2{
    0% 100%{background:url(img/player2/luffykick2.png);}
    30%{transform: translateX(-180px);}
    from{background-position:0px }
    to{background-position:-2880px }
  }
  @keyframes p1attack2{
    0% 100%{background: url(img/player1/sanji2ndkick.png)}
    from{background-position:-2916px }
    to{background-position: 0px}
  }
  @keyframes p1start{
    0% 100%{background:url(img/player1/sanjistart.png);}
    from{background-position: -520px}
    to{background-position: 0px}
  }
  @keyframes p2start{
    0% 100%{background:url(img/player2/luffystart.png);}
    from{background-position:0px;}
    to{background-position:1344px;}
  }
  @keyframes p1VictoryPose{
    0% 100%{background:url(img/player1/sanjiwin.png);}
    from{background-position: -744px}
    to{background-position: 0px;}
  }
  @keyframes p1fall{
    0%{left:100px;}
    to{left:100px;}
  }
  @keyframes p2Win{
    0% 100%{background:url(img/player2/luffywin.png);}
    from{background-position:0px}
    to{background-position:1040px}
  }
  @keyframes p1Lose{
    0% 100%{}
    from{background-position: -760px}
    to{background-position: 0px;}
  }
